@import url('reset.css');

.small_logo {
    display:block;
   }
body {
    background-color: var(--main-color1);
}
#header {
    background-color: var(--header-color2);
    box-shadow: 0px 5px 20px 10px var(--main-color1-shadow);
    position: relative;
    height: 10vh;
}

#products {
    position: relative;
    width: 95vw;
    height: 80vh;
    border: 3px solid var(--main-color2);
    border-radius: 10px;
    margin: 0 auto;
    /* margin-bottom: 40vh; */
    margin-top: 5vh;    
    overflow: scroll;

    display: flex;
}


/* 소세지 버튼------------- */
#sausage-menu {
    position: relative;
    width: 95vw;
    height: 10vh;
    /* border: 3px solid var(--main-color2); */
    padding-left: 10px;
    /* margin: 0 auto;   */
    overflow: scroll;
    display: flex;
}
.category-menu {
    position: absolute;
    display: flex;
    /* outline: 2px solid red; */
    white-space: nowrap;
    /* overflow-x: scroll; */
}

.btnPush {
    display: inline-block;
    position: relative;
    background-color: #ccc;
    width: 10vw;
    height: 5vh;
    margin: 10px 20px 10px 0;
    text-align: center;
    line-height: 5vh;
    border-radius: 5px;
    overflow: hidden;

    transition: all 0.2s ;
    box-shadow: 0px 5px 0px 0px #aaa;
}
.btnPush.long {
    width: 15vw;
}
.GO {
    position: absolute;
    width: 100%;
    background-color: #ddd;
    border-radius: 5px;
    margin-top: 5px;
    transform: translateY(0);
    transition: .3s;
}
.btnPush:hover .GO {
    transform: translateY(calc(-100% + -5px));
}
.btnPush:hover {
    margin-top: 15px;
    margin-bottom: 5px;
    box-shadow: 0px 0px 0px 0px #aaa;
}
/* 소세지 버튼------------- */





main {
    position: relative;
    height: 10vh;
    /* border: 3px solid var(--main-color2); */
    overflow: scroll;
    display: flex;
}

.row {
    position: fixed;
    width: 95vw;
    /* height: 68vh; */
    top: 30vh;
    left: 2.5vw;
    display: flex;
    flex-direction: column;
    outline: 2px solid black;
    padding: 20px;
    overflow: hidden;
}

.container {
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: space-between;
    outline: 2px solid black;
    top: 0;
    left: 0;
    margin-bottom: 20px;
    /* justify-content: space-between; */
}