@import url('reset.css');

.small_logo {
    display:block;
   }
body {
    background-color: var(--main-color1);
}
#header {
    background-color: var(--header-color2);
    box-shadow: 0px 5px 20px 10px var(--main-color1-shadow);
    position: relative;
}

#products {
    width: 95vw;
    height: 80vh;
    border: 3px solid var(--main-color2);
    border-radius: 10px;
    margin: 0 auto;
    /* margin-bottom: 40vh; */
    /* margin-top: calc(50px + 10vh); */
}


/* 소세지 버튼------------- */
.category-menu {
    position: absolute;
    display: flex;
    left: 10vw;
    top: 1vh;
    outline: 2px solid red;
    /* white-space: nowrap; */
    overflow: scroll;
}
.btnPush {
    display: inline-block;
    position: relative;
    background-color: #ccc;
    width: 10vw;
    height: 5vh;
    margin: 10px 20px 10px 0;
    text-align: center;
    line-height: 5vh;
    border-radius: 5px;
    overflow: hidden;

    transition: all 0.2s ;
    box-shadow: 0px 5px 0px 0px #aaa;
}
.btnPush.long {
    width: 15vw;
}
.GO {
    position: absolute;
    width: 100%;
    background-color: #ddd;
    border-radius: 5px;
    margin-top: 5px;
    transform: translateY(0);
    transition: .3s;
}
.btnPush:hover .GO {
    transform: translateY(calc(-100% + -5px));
}
.btnPush:hover {
    margin-top: 15px;
    margin-bottom: 5px;
    box-shadow: 0px 0px 0px 0px #aaa;
}
/* 소세지 버튼------------- */

