* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --main-color1: #2c2c2e;
    --main-color2: #fac0c0;
    --header-color1: rgba(250, 192, 192, 0.45);
    --header-color2: rgba(44, 44, 46, 0.45);
    --sub-color1: #f9c1b1;
    --main-color1-shadow: rgba(44, 44, 46, 0.45);
    --main-color2-shadow: rgba(250, 192, 192, 0.45);
    --main-color3: #f5f5f5;
}
body {
    background-color: var(--main-color1);
    font-family: '';
}
a {
    text-decoration: none;
    color: inherit;
}
ul {
    list-style-type: none;
}

::-webkit-scrollbar {
    display: none;
}

#wrap {
    width: 100%;
    position: relative;
    /* padding-top: 15vh; */
}
button {
    background-color: transparent;
    border: none;
}