@import url('reset.css');
@import url('random.css');
@import url('category.css');



#header {
    background-color: var(--header-color1);
    box-shadow: 0px 5px 20px 10px var(--main-color2-shadow);
    height: 15vh;
    /* border-bottom: 1px solid var(--main-color2); */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
}
#header .logo {
    /* position: absolute; */
    width: 100px;
    height: 100px;
    margin-top: 3vh;
    margin-left: 2vw;
}
#header .big_logo {
    width: 250px;
}
#header .small_logo {
    width: 50px;    
}
#header .big_logo:hover,
#header .small_logo:hover {
    animation-name: logo-tilt;
    transform-origin: center center;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}
@keyframes logo-tilt {

    0% {
        transform: rotateZ(0);
    }
    25% {
        transform: rotateZ(15deg);
    }
    50% {
        transform: rotateZ(-15deg);
    }
    75% {
        transform: rotateZ(15deg);
    }
    100% {
        transform: rotateZ(0);
    }

}


/* 반응형 로고 */
@media only screen and (max-width: 480px){ 
    .big_logo {
     display:none;
    }
    .small_logo {
     display:block;
    }
   }
   @media only screen and (min-width: 481px){ 
    .big_logo {
     display:block;
    }
    .small_logo {
     display:none;
    }
   }
/* logo------------- */


#header .toggle-btn {
    position: absolute;
    cursor: pointer;
    right: 2vw;
    top: 4vh;
}
#header .toggle-btn > img {
    width: 50%;
}



#indicator {
    position: fixed;
    width: 30vw;
    height: 100vh;
    background-color: var(--main-color1);
    color: var(--main-color3);
    top: 0;
    right: 0;
    transform: translateX(100%);
    transition-duration: 0.5s;
    z-index: 999;
}
#indicator.on {
    position: fixed;
    transform: translateX(0);
    right: 0;
    top: 0;
}
#indicator #close-btn {
    position: absolute;
    top: 4vh;
    right: 2vw;
}
#indicator ul {
    margin-top: 20vh;
    margin-left: 50%;
    transform: translateX(-25%);
    cursor: pointer;
}
#indicator ul li {
    margin-top: 10vh;
}
#indicator ul li:hover {
    color: var(--main-color2);
}
#indicator ul li.on {
    background-color: #fff;
}
/* menu------------- */

main {
    margin-top: calc(50px + 15vh);
}




#main-visual {
    width: 80vw;
    height: 70vh;
    border: 3px solid var(--main-color2);
    border-radius: 10px;
    margin: 0 auto;
    margin-bottom: 50vh;
}
/* main-visual------------------------ */






#about {
    width: 80vw;
    height: 70vh;
    border: 3px solid var(--main-color2);
    border-radius: 10px;
    margin: 0 auto;
    margin-bottom: 10vh;
}



@media ( max-width: 480px) {

}